<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
    <item label="File Manager" icon="/home/bart/.config/obmenu-generator/icons/a384074033dfc3ebebb1a8a39d2be8a6.png"><action name="Execute"><command><![CDATA[xdg-open .]]></command></action></item>
    <item label="Terminal" icon="/home/bart/.config/obmenu-generator/icons/4bba506b8ff42c4bfb64152ae0997ac9.png"><action name="Execute"><command><![CDATA[terminator]]></command></action></item>
    <item label="Web Browser" icon="/home/bart/.config/obmenu-generator/icons/0fd14be8770af75716427df2c3a3194a.png"><action name="Execute"><command><![CDATA[xdg-open http://]]></command></action></item>
    <item label="Run command" icon="/home/bart/.config/obmenu-generator/icons/75a67767299530cac90d76a36547c619.png"><action name="Execute"><command><![CDATA[gmrun]]></command></action></item>
  <separator label="Categories"/>
  <menu id="0.573365675126301" icon="/home/bart/.config/obmenu-generator/icons/14ccfd60064d61cfc7da4145731d45f2.png" label="Accessories">
    <item label="About Xfce" icon="/home/bart/.config/obmenu-generator/icons/68c1d2859d048b1c4fa60c7d168f6281.png"><action name="Execute"><command><![CDATA[xfce4-about]]></command></action></item>
    <item label="Bulk Rename" icon="/home/bart/.config/obmenu-generator/icons/8ea1c0f2ad8f6dbfdd02894a2238e92e.png"><action name="Execute"><command><![CDATA[/usr/lib/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="compton" icon="/home/bart/.config/obmenu-generator/icons/79706a0a3833a8b5a372c19635a63d02.png"><action name="Execute"><command><![CDATA[compton --xrender-sync-fence]]></command></action></item>
    <item label="Fcitx" icon="/home/bart/.config/obmenu-generator/icons/6b99c92e6a7e5d7533e6c17c4c35c853.png"><action name="Execute"><command><![CDATA[fcitx]]></command></action></item>
    <item label="File Manager" icon="/home/bart/.config/obmenu-generator/icons/a384074033dfc3ebebb1a8a39d2be8a6.png"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
    <item label="KeePassXC" icon="/home/bart/.config/obmenu-generator/icons/efdf3b89e9ee63d4ce8a8f4175a1fd1f.png"><action name="Execute"><command><![CDATA[keepassxc]]></command></action></item>
    <item label="Leafpad" icon="/home/bart/.config/obmenu-generator/icons/d7f167483027d1e8e20016c30859bb9a.png"><action name="Execute"><command><![CDATA[leafpad]]></command></action></item>
    <item label="nitrogen" icon="/home/bart/.config/obmenu-generator/icons/dc07ea0146d8fe8408ee1b3a35dded2d.png"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <item label="Redshift" icon="/home/bart/.config/obmenu-generator/icons/2e131011b50ed40774d9156b219e7101.png"><action name="Execute"><command><![CDATA[redshift-gtk]]></command></action></item>
    <item label="Terminal Emulator" icon="/home/bart/.config/obmenu-generator/icons/4bba506b8ff42c4bfb64152ae0997ac9.png"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="Terminator" icon="/home/bart/.config/obmenu-generator/icons/6d99c37cad76d7c6334203a717e1c776.png"><action name="Execute"><command><![CDATA[terminator]]></command></action></item>
    <item label="Thunar File Manager" icon="/home/bart/.config/obmenu-generator/icons/8ea1c0f2ad8f6dbfdd02894a2238e92e.png"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Vim" icon="/home/bart/.config/obmenu-generator/icons/9f954f62b318e85d9716dec7d44b1f3b.png"><action name="Execute"><command><![CDATA[xterm -e 'vim']]></command></action></item>
    <item label="Winetricks" icon="/home/bart/.config/obmenu-generator/icons/1e722170a4cbe83e8dc0e030e8f2ddbd.png"><action name="Execute"><command><![CDATA[winetricks --gui]]></command></action></item>
  </menu>
  <menu id="0.615505073310004" icon="/home/bart/.config/obmenu-generator/icons/63af62d6fc07c9f972fc1dd332484a40.png" label="Development">
    <item label="CMake" icon="/home/bart/.config/obmenu-generator/icons/e1c046f8fb6bc6a9c64c5796f7fe8a49.png"><action name="Execute"><command><![CDATA[cmake-gui]]></command></action></item>
    <item label="Qt4 Assistant" icon="/home/bart/.config/obmenu-generator/icons/c1ceff77a833e38979fdd9b972d9c20a.png"><action name="Execute"><command><![CDATA[assistant-qt4]]></command></action></item>
    <item label="Qt4 Designer" icon="/home/bart/.config/obmenu-generator/icons/1d6c43ec00e1666680dbd4984dc28583.png"><action name="Execute"><command><![CDATA[designer-qt4]]></command></action></item>
    <item label="Qt4 Linguist" icon="/home/bart/.config/obmenu-generator/icons/d8e8244c687f1523262accb7e14e3dba.png"><action name="Execute"><command><![CDATA[linguist-qt4]]></command></action></item>
    <item label="Qt4 QDbusViewer" icon="/home/bart/.config/obmenu-generator/icons/ebc865494342e369e81ce038a1afc427.png"><action name="Execute"><command><![CDATA[qdbusviewer-qt4]]></command></action></item>
  </menu>
  <menu id="0.937792925202427" icon="/home/bart/.config/obmenu-generator/icons/b1525fdcd21fbe079098eb085d97a8a0.png" label="Games">
    <item label="mGBA" icon="/home/bart/.config/obmenu-generator/icons/95cffd0c0d9a972b4157bf6a0cabe96c.png"><action name="Execute"><command><![CDATA[mgba-qt]]></command></action></item>
    <item label="Minecraft" icon="/home/bart/.config/obmenu-generator/icons/493fecc88ad3f64d2a03e5634a31af76.png"><action name="Execute"><command><![CDATA[mcpelauncher]]></command></action></item>
    <item label="Minetest" icon="/home/bart/.config/obmenu-generator/icons/6794d7c20fe74deabce70101afc23fd5.png"><action name="Execute"><command><![CDATA[minetest]]></command></action></item>
    <item label="OpenRA - Dune 2000" icon="/home/bart/.config/obmenu-generator/icons/b502b73b6185b912cb663e51b1035db1.png"><action name="Execute"><command><![CDATA[openra-d2k]]></command></action></item>
    <item label="OpenRA - Red Alert" icon="/home/bart/.config/obmenu-generator/icons/4b5d671cc005fc7f7bdd4415c44e7f3f.png"><action name="Execute"><command><![CDATA[openra-ra]]></command></action></item>
    <item label="OpenRA - Tiberian Dawn" icon="/home/bart/.config/obmenu-generator/icons/e655708fb2e74841c2c0e2461960401d.png"><action name="Execute"><command><![CDATA[openra-cnc]]></command></action></item>
    <item label="Steam (Native)" icon="/home/bart/.config/obmenu-generator/icons/8b4902c5d24a30e0e78bb39cb1fb8024.png"><action name="Execute"><command><![CDATA[/usr/bin/steam-native]]></command></action></item>
    <item label="Steam (Runtime)" icon="/home/bart/.config/obmenu-generator/icons/8b4902c5d24a30e0e78bb39cb1fb8024.png"><action name="Execute"><command><![CDATA[/usr/bin/steam-runtime]]></command></action></item>
  </menu>
  <menu id="0.0215552620092652" icon="/home/bart/.config/obmenu-generator/icons/eac7ac9b799a361f360a5c6592277f77.png" label="Graphics">
    <item label="E-book Viewer" icon="/home/bart/.config/obmenu-generator/icons/cb026af7c607285b67c78f578cbfbfb5.png"><action name="Execute"><command><![CDATA[ebook-viewer --detach]]></command></action></item>
    <item label="Kindle Comic Converter" icon="/home/bart/.config/obmenu-generator/icons/6c21e23bb7381e8093e218f0fa4e35f1.png"><action name="Execute"><command><![CDATA[/usr/bin/kcc]]></command></action></item>
    <item label="LRF Viewer" icon="/home/bart/.config/obmenu-generator/icons/cb026af7c607285b67c78f578cbfbfb5.png"><action name="Execute"><command><![CDATA[lrfviewer]]></command></action></item>
  </menu>
  <menu id="0.469381465704902" icon="/home/bart/.config/obmenu-generator/icons/88d45fe59e05c5b23cc06c0dce0f8952.png" label="Multimedia">
    <item label="mpv Media Player" icon="/home/bart/.config/obmenu-generator/icons/39475279dc2347a89ec82994ef98494c.png"><action name="Execute"><command><![CDATA[mpv --player-operation-mode=pseudo-gui --]]></command></action></item>
    <item label="OBS" icon="/home/bart/.config/obmenu-generator/icons/276cf37b0e0b83a72bcc5e8df9ed38c5.png"><action name="Execute"><command><![CDATA[obs]]></command></action></item>
    <item label="PNMixer" icon="/home/bart/.config/obmenu-generator/icons/22cfb2823be5b07fac50bf9849b5bb76.png"><action name="Execute"><command><![CDATA[pnmixer]]></command></action></item>
    <item label="PulseAudio Volume Control" icon="/home/bart/.config/obmenu-generator/icons/2eea2378cb3ea6ab5652225217137f86.png"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="Qt V4L2 test Utility" icon="/home/bart/.config/obmenu-generator/icons/536fa375e9ddf3f93743c18aeecb4e9d.png"><action name="Execute"><command><![CDATA[qv4l2]]></command></action></item>
    <item label="VLC media player" icon="/home/bart/.config/obmenu-generator/icons/e2980ee324069b6ce7f3bac9c5af0301.png"><action name="Execute"><command><![CDATA[/usr/bin/vlc --started-from-file]]></command></action></item>
    <item label="VolWheel" icon="/home/bart/.config/obmenu-generator/icons/7923c0b9e3b82caf913e6530c4b329c2.png"><action name="Execute"><command><![CDATA[volwheel]]></command></action></item>
  </menu>
  <menu id="0.169746392624788" icon="/home/bart/.config/obmenu-generator/icons/5e2944a03dc82bfaea4f718d2d3f6083.png" label="Network">
    <item label="Avahi SSH Server Browser" icon="/home/bart/.config/obmenu-generator/icons/419ef55a841cefa586a0fd69990410e4.png"><action name="Execute"><command><![CDATA[/usr/bin/bssh]]></command></action></item>
    <item label="Avahi VNC Server Browser" icon="/home/bart/.config/obmenu-generator/icons/419ef55a841cefa586a0fd69990410e4.png"><action name="Execute"><command><![CDATA[/usr/bin/bvnc]]></command></action></item>
    <item label="Dropbox" icon="/home/bart/.config/obmenu-generator/icons/4a8769096e22b125fdbe709e7f32d7d6.png"><action name="Execute"><command><![CDATA[dropbox]]></command></action></item>
    <item label="Firefox" icon="/home/bart/.config/obmenu-generator/icons/b94d18d6de00413e379e03c6fbea6556.png"><action name="Execute"><command><![CDATA[/usr/lib/firefox/firefox]]></command></action></item>
    <item label="Mail Reader" icon="/home/bart/.config/obmenu-generator/icons/6edfb0f70d214628e9bcfefedad8cfc6.png"><action name="Execute"><command><![CDATA[exo-open --launch MailReader]]></command></action></item>
    <item label="qBittorrent" icon="/home/bart/.config/obmenu-generator/icons/7d1f3e41672c25612bebd5905765114d.png"><action name="Execute"><command><![CDATA[qbittorrent]]></command></action></item>
    <item label="Steam (Native)" icon="/home/bart/.config/obmenu-generator/icons/8b4902c5d24a30e0e78bb39cb1fb8024.png"><action name="Execute"><command><![CDATA[/usr/bin/steam-native]]></command></action></item>
    <item label="Steam (Runtime)" icon="/home/bart/.config/obmenu-generator/icons/8b4902c5d24a30e0e78bb39cb1fb8024.png"><action name="Execute"><command><![CDATA[/usr/bin/steam-runtime]]></command></action></item>
    <item label="Telegram Desktop" icon="/home/bart/.config/obmenu-generator/icons/860cd6a950030cc89336b95772b68b9c.png"><action name="Execute"><command><![CDATA[telegram-desktop --]]></command></action></item>
    <item label="Web Browser" icon="/home/bart/.config/obmenu-generator/icons/0fd14be8770af75716427df2c3a3194a.png"><action name="Execute"><command><![CDATA[exo-open --launch WebBrowser]]></command></action></item>
  </menu>
  <menu id="0.291380429311484" icon="/home/bart/.config/obmenu-generator/icons/334c78f78ee31b6cfa75b142a2a17622.png" label="Office">
    <item label="Calibre" icon="/home/bart/.config/obmenu-generator/icons/c89f1397329183a8ff4bcf4f919b3360.png"><action name="Execute"><command><![CDATA[calibre --detach]]></command></action></item>
    <item label="E-book Editor" icon="/home/bart/.config/obmenu-generator/icons/4ed692b410073db73f11328b2711cc6a.png"><action name="Execute"><command><![CDATA[ebook-edit --detach]]></command></action></item>
    <item label="Evolution" icon="/home/bart/.config/obmenu-generator/icons/b85f5bce4671b3efcdab7605580b6e0b.png"><action name="Execute"><command><![CDATA[evolution]]></command></action></item>
    <item label="WPS Presentation" icon="/home/bart/.config/obmenu-generator/icons/5b7e94a4a099707a245a09c7ed88a1e4.png"><action name="Execute"><command><![CDATA[/usr/bin/wpp]]></command></action></item>
    <item label="WPS Spreadsheets" icon="/home/bart/.config/obmenu-generator/icons/1927b4df975bd9d69845b0415dde4d4e.png"><action name="Execute"><command><![CDATA[/usr/bin/et]]></command></action></item>
    <item label="WPS Writer" icon="/home/bart/.config/obmenu-generator/icons/619a4bed544cacbb808551f918ddb74b.png"><action name="Execute"><command><![CDATA[/usr/bin/wps]]></command></action></item>
  </menu>
  <menu id="0.383287963498411" icon="/home/bart/.config/obmenu-generator/icons/2f0bafe74ef4bd504f9fd047bec85a3f.png" label="Other">
    <item label="NVIDIA X Server Settings" icon="/home/bart/.config/obmenu-generator/icons/89ffecf94d6a3e91e2ed842da2d4b210.png"><action name="Execute"><command><![CDATA[/usr/bin/nvidia-settings]]></command></action></item>
  </menu>
  <menu id="0.155036255941386" icon="/home/bart/.config/obmenu-generator/icons/fc3f239d041b05a6f4b03e3f805b52b2.png" label="Settings">
    <item label="Customize Look and Feel" icon="/home/bart/.config/obmenu-generator/icons/e78761fff5163d9375641f2e09fc0d77.png"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="Fcitx Configuration" icon="/home/bart/.config/obmenu-generator/icons/6b99c92e6a7e5d7533e6c17c4c35c853.png"><action name="Execute"><command><![CDATA[fcitx-configtool]]></command></action></item>
    <item label="File Manager" icon="/home/bart/.config/obmenu-generator/icons/a384074033dfc3ebebb1a8a39d2be8a6.png"><action name="Execute"><command><![CDATA[thunar-settings]]></command></action></item>
    <item label="IBus Preferences" icon="/home/bart/.config/obmenu-generator/icons/9a0d02e4061186be1a2ad4e3a307efe1.png"><action name="Execute"><command><![CDATA[ibus-setup]]></command></action></item>
    <item label="Network Connections" icon="/home/bart/.config/obmenu-generator/icons/ec59362f360a331634b0cf4aa4c72e4c.png"><action name="Execute"><command><![CDATA[nm-connection-editor]]></command></action></item>
    <item label="Openbox Configuration Manager" icon="/home/bart/.config/obmenu-generator/icons/61f3de6fd06f9847e869878302ba1980.png"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Power Manager" icon="/home/bart/.config/obmenu-generator/icons/f8f2b92d0f7873c9a686c8ff5d38e60b.png"><action name="Execute"><command><![CDATA[xfce4-power-manager-settings]]></command></action></item>
    <item label="Preferred Applications" icon="/home/bart/.config/obmenu-generator/icons/9778f46e9ec398491023f8c2794075c3.png"><action name="Execute"><command><![CDATA[exo-preferred-applications]]></command></action></item>
    <item label="Tint2 Settings" icon="/home/bart/.config/obmenu-generator/icons/7269f8340f3a7623d0fb9e59d48e8924.png"><action name="Execute"><command><![CDATA[tint2conf]]></command></action></item>
  </menu>
  <menu id="0.213474890043244" icon="/home/bart/.config/obmenu-generator/icons/d7f5bec41effc66a0e54da9f8b7d1ea9.png" label="System">
    <item label="Avahi Zeroconf Browser" icon="/home/bart/.config/obmenu-generator/icons/419ef55a841cefa586a0fd69990410e4.png"><action name="Execute"><command><![CDATA[/usr/bin/avahi-discover]]></command></action></item>
    <item label="Bulk Rename" icon="/home/bart/.config/obmenu-generator/icons/8ea1c0f2ad8f6dbfdd02894a2238e92e.png"><action name="Execute"><command><![CDATA[/usr/lib/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="Fcitx" icon="/home/bart/.config/obmenu-generator/icons/6b99c92e6a7e5d7533e6c17c4c35c853.png"><action name="Execute"><command><![CDATA[fcitx]]></command></action></item>
    <item label="Htop" icon="/home/bart/.config/obmenu-generator/icons/6d5025de601e5fac48d949891e17262b.png"><action name="Execute"><command><![CDATA[xterm -e 'htop']]></command></action></item>
    <item label="Manage Printing" icon="/home/bart/.config/obmenu-generator/icons/25b47c730c44a53574f41b7a776c5c35.png"><action name="Execute"><command><![CDATA[/usr/bin/xdg-open http://localhost:631/]]></command></action></item>
    <item label="Oracle VM VirtualBox" icon="/home/bart/.config/obmenu-generator/icons/ee6adc838532fb720682196c08d62f21.png"><action name="Execute"><command><![CDATA[VirtualBox]]></command></action></item>
    <item label="Terminator" icon="/home/bart/.config/obmenu-generator/icons/6d99c37cad76d7c6334203a717e1c776.png"><action name="Execute"><command><![CDATA[terminator]]></command></action></item>
    <item label="Thunar File Manager" icon="/home/bart/.config/obmenu-generator/icons/8ea1c0f2ad8f6dbfdd02894a2238e92e.png"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Tint2" icon="/home/bart/.config/obmenu-generator/icons/0e1a7cb6d5fb0a40f20ad390d0df7344.png"><action name="Execute"><command><![CDATA[tint2]]></command></action></item>
    <item label="UXTerm" icon="/home/bart/.config/obmenu-generator/icons/7c9f428f66b98fc4cd571182f645138b.png"><action name="Execute"><command><![CDATA[uxterm]]></command></action></item>
    <item label="XTerm" icon="/home/bart/.config/obmenu-generator/icons/7c9f428f66b98fc4cd571182f645138b.png"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
  </menu>
  <separator/>
  <menu id="0.132541437416688" icon="/home/bart/.config/obmenu-generator/icons/1d04abde9d640cde340f7ede0fb1f823.png" label="Advanced Settings">
    <item label="Conky RC" icon="/home/bart/.config/obmenu-generator/icons/4bf82af6f53890bfdb2d75ac036301ba.png"><action name="Execute"><command><![CDATA[geany ~/.conkyrc]]></command></action></item>
    <item label="Tint2 Panel" icon="/home/bart/.config/obmenu-generator/icons/4bf82af6f53890bfdb2d75ac036301ba.png"><action name="Execute"><command><![CDATA[geany ~/.config/tint2/tint2rc]]></command></action></item>
  <menu id="0.482845455165695" icon="/home/bart/.config/obmenu-generator/icons/8ff4b3d65cf1c3a91431edca5430a860.png" label="Obmenu-Generator">
    <item label="Menu Schema" icon="/home/bart/.config/obmenu-generator/icons/4bf82af6f53890bfdb2d75ac036301ba.png"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label="Menu Config" icon="/home/bart/.config/obmenu-generator/icons/4bf82af6f53890bfdb2d75ac036301ba.png"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/config.pl]]></command></action></item>
  <separator/>
    <item label="Generate a static menu" icon="/home/bart/.config/obmenu-generator/icons/8ff4b3d65cf1c3a91431edca5430a860.png"><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
    <item label="Generate a static menu with icons" icon="/home/bart/.config/obmenu-generator/icons/8ff4b3d65cf1c3a91431edca5430a860.png"><action name="Execute"><command><![CDATA[obmenu-generator -s -i -c]]></command></action></item>
  <separator/>
    <item label="Generate a dynamic menu" icon="/home/bart/.config/obmenu-generator/icons/8ff4b3d65cf1c3a91431edca5430a860.png"><action name="Execute"><command><![CDATA[obmenu-generator -p]]></command></action></item>
    <item label="Generate a dynamic menu with icons" icon="/home/bart/.config/obmenu-generator/icons/8ff4b3d65cf1c3a91431edca5430a860.png"><action name="Execute"><command><![CDATA[obmenu-generator -p -i]]></command></action></item>
  <separator/>
    <item label="Refresh cache" icon="/home/bart/.config/obmenu-generator/icons/0d3dfd63e106b9729536e30d9c695d7c.png"><action name="Execute"><command><![CDATA[obmenu-generator -d]]></command></action></item>
  </menu>
  <menu id="0.763122145582191" icon="/home/bart/.config/obmenu-generator/icons/cbd33e85d4e0834359519a4e282b2aeb.png" label="Openbox">
    <item label="Openbox Autostart" icon="/home/bart/.config/obmenu-generator/icons/4bf82af6f53890bfdb2d75ac036301ba.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/autostart]]></command></action></item>
    <item label="Openbox RC" icon="/home/bart/.config/obmenu-generator/icons/4bf82af6f53890bfdb2d75ac036301ba.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/rc.xml]]></command></action></item>
    <item label="Openbox Menu" icon="/home/bart/.config/obmenu-generator/icons/4bf82af6f53890bfdb2d75ac036301ba.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/menu.xml]]></command></action></item>
    <item label="Reconfigure Openbox" icon="/home/bart/.config/obmenu-generator/icons/cbd33e85d4e0834359519a4e282b2aeb.png"><action name="Execute"><command><![CDATA[openbox --reconfigure]]></command></action></item>
  </menu>
  </menu>
  <separator/>
    <item label="Lock" icon="/home/bart/.config/obmenu-generator/icons/4c8321a75ca583aed86fefc054a0d4cf.png"><action name="Execute"><command><![CDATA[xscreensaver-command -lock]]></command></action></item>
    <item label="Exit" icon="/home/bart/.config/obmenu-generator/icons/c936b54235305d41078efea52be5342e.png"><action name="Exit"/></item>
  </menu>
</openbox_menu>
